body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 95vw;
  margin: 0% 1%
}

.skuInfo {
  width: 50%;
  height: 100%;
  border-collapse: collapse;
  max-height: 20vh;
}



.skuInfo td:nth-child(even) {
  background-color: #f2f2f2;
}


td img {
  width: 23vw;
  display: block;
  margin: auto;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th,
#table tr,
#table tbody {
  border: 2px solid black;
  padding: 5px;
}





#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.skuInfo td,
.skuInfo th,
.skuInfo tr {
  padding: 1px;
  border: 2px solid #ddd;
  text-align: left;
}